<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>

      <ion-header-bar class="bar-positive">
        <h1 class="title">Real Estate Questionaire</h1>
      </ion-header-bar>

      <ion-content ng-controller="MainController as main">
        {{answers}}
        <div class="card" ng-repeat = "question in questions track by $index" ng-init="questionIndex = $index">
          <div class="item item-divider item-dark item-text-wrap">
          {{question}}
          </div>

          <ion-radio name="question{{questionIndex}}" ng-repeat="value in values" ng-model="answers[questionIndex]" ng-value="value">{{value}}</ion-radio>
        </div>

        <div class="list" align = "center">
          <p align="center">{{justice}}</p>
          <div class="item range range-positive">
            
            <input ng-model="justice" type="range" name="volume" min="0" max="10" value="5">

            <!-- <i class=" icon ion-ios-sunny"></i> -->
          </div>
        </div>

      </ion-content>

     <!--   <div class="bar bar-footer">
          <button class="button button-clear">Left</button>
          <div class="title">Title</div>
          <button class="button button-clear">Right</button>
        </div> -->

    </ion-pane>
  </body>
</html>
